<ion-header>
  <ion-toolbar class="header">
    <ion-buttons mode="ios" color="light" slot="start">
      <ion-back-button class="show-back-button" [text]="'Voltar'" color="light" (click)="voltar()"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="painel">
    <ion-row>
      <ion-col>
        <ion-button size="small" color="danger" fill="clear" (click)="excluir()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
          <ion-label>Excluir</ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="small" color="primary" fill="clear" (click)="editar()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
          <ion-label>Editar</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="title correcao">
    PRINCIPAIS INFORMAÇÕES
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="label">DESCRIÇÃO</div>
        {{data.descricao}}
      </ion-col>
      <ion-col>
        <div class="label">IMPOSTOS</div>
        {{data.imposto | number:'1.1-2'}}%
      </ion-col>
      <ion-col>
        <div class="label">HORAS</div>
        {{data.hora}}h
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="label">VALOR POR HORA</div>
        {{data.valor | currency:'R$'}}
      </ion-col>
      <ion-col>
        <div class="label">VALOR POR HORA EFETIVO</div>
        {{calcularHoraEfetivo | currency:'R$'}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="wrapper">
        <div class="salario">
          <div class="label wrapper">SALÁRIO</div>
          {{data.salario | currency:'R$'}} <span class="liquido">({{data.liquido | currency:'R$'}})</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="title">
    DESCONTOS
  </div>
  <div class="lista-descontos">
    <div class="item">
      <div class="campo">Férias</div>
      <div class="value">- {{(data.ferias ? data.ferias : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">Impostos</div>
      <div class="value">-
        {{(data.impostoValor ? data.impostoValor : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">Previdência</div>
      <div class="value">-
        {{(data.previdencia ? data.previdencia : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">INSS</div>
      <div class="value">- {{(data.inss ? data.inss : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">Contador</div>
      <div class="value">- {{(data.contador ? data.contador : 0) | currency:'R$'}}
      </div>
    </div>
    <div class="item">
      <div class="campo">Transporte</div>
      <div class="value">- {{(data.transporte ? data.transporte : 0) | currency:'R$'}}
      </div>
    </div>
    <div class="item">
      <div class="campo">Alimentação</div>
      <div class="value">-
        {{(data.alimentacao ? data.alimentacao : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">Plano odontológico</div>
      <div class="value">-
        {{(data.odontologico ? data.odontologico : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">Plano de saúde</div>
      <div class="value">- {{(data.saude ? data.saude : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">Seguro de vida</div>
      <div class="value">- {{(data.vida ? data.vida : 0) | currency:'R$'}}</div>
    </div>
    <div class="item">
      <div class="campo">Outros gastos</div>
      <div class="value">- {{(data.outros ? data.outros : 0) | currency:'R$'}}</div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="resultado">
    <ion-grid>
      <ion-row>
        <ion-col class="info perigo">
          <div class="correcao">
            <div class="campo">Total de desconto</div>
            <div>{{(data.totalGasto ? data.totalGasto : 0) | currency:'R$'}}</div>
          </div>
        </ion-col>
        <ion-col class="info sucesso">
          <div class="correcao">
            <div class="campo">Salário líquido</div>
            <div>{{(data.liquido ? data.liquido : 0) | currency:'R$'}}</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>