.header {
    --background: var(--ion-color-primary);
    --border-color: none;
    --color: white;
}

ion-grid > ion-row {
    text-align: center;
}

.title{
    font-size: 0.8rem;
    color: black;
    padding: 15px 10px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.correcao{
    padding-top: 0;
}

.label {
    font-size: 0.6rem;
    font-weight: bold;
    opacity: .6;
}

.wrapper{
    color: white;
    opacity: 1;

    > .salario{
        padding: 10px;
        background-color: var(--ion-color-primary);
        border-radius: 7px;

        > .liquido {
            font-size: 11px;
        }
    }
}

.painel{
    padding: 0;

        > ion-grid {
            > ion-row {
            padding: 0;

            > ion-col {
                padding: 0;
            }
        }
    }
}

.lista-descontos{
    padding: 5px 40px;

    > .item {
        height: 20px;
        margin: 7px 0px;
        width: 100%;

        > .campo {
            float: left;
            font-size: 14px;
        }

        > .value {
            float: right;
        }
    }
}

.resultado{
    width: 100%;
    height: 100%;

    > ion-grid {
        padding: 0;

        > ion-row > .info {
            width: calc(100% - 10px);
    
            > .campo {
                font-size: 12px;
            }
        }
    }

    .perigo {
        background-color: var(--ion-color-danger-shade);
        color: white;
    }

    .sucesso {
        background-color: var(--ion-color-success-shade);
        color: white;
    }
}
