<ion-header>
    <ion-toolbar class="header">
        <ion-title>Calculo PJ</ion-title>
        <ion-buttons slot="end" (click)="criarCalculo()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Lista de calculos</ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          Nome
          <p>Salvo em:</p>
        </ion-label>
        <ion-buttons slot="end" (click)="detalhes()" fill="clear" color="primary">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)="teste()">
        <ion-item-option color="danger" [expandable]="true">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>