<ion-header>
    <ion-toolbar class="header">
        <ion-title>Calculo PJ</ion-title>
        <ion-buttons slot="end" (click)="criarCalculo()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">
  <ion-list>
    <ion-list-header>
      <ion-label>LISTA DE CÁLCULOS</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor=" let item of data; let i = index">
      <ion-item>
        <ion-label>
          {{item.descricao}}
          <p>Salvo em: {{pegarDia(item.dataCriacao)}} às {{pegarHoras(item.dataCriacao)}}</p>
        </ion-label>
        <ion-buttons slot="end" (click)="detalhes(item)" fill="clear" color="primary">
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" [expandable]="true" (click)="deletar(i)">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>